{% load static %}

{% block content %}


<html >
    <head>
      <meta charset="UTF-8">
      <title>Login/ Register form from my dashboard</title>
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      
      
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    </head>
    <body>
    <div id="log_reg">
    <div class="login-page">
      <div class="form">
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" maxlength="254" id="id_email" required="" placeholder="enter your e-mail">
          <button type="submit">reset password</button>
        </form>
      </div>
    </div>
      </div>
      <script src='{% static 'js/jquery.min.js' %}'></script>
    
        <script  src="{% static 'js/index.js' %}"></script>
    
    </body>
    </html>
    
{% endblock content %}
