{% extends 'base.html' %}
{% load static cloudinary %}

{% block head %}
    <title>Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
{% endblock %}
{% block details %}
    <br><br><br><br><br><br>
    <div class="container">
  <form method="POST" id="details">
      {% csrf_token %}
    <div class="form-group">
      <input class="form-control" id="Title" placeholder="Title" name="Title">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="Description" placeholder="Description" name="Description"></textarea>
    </div>
    <div class="form-group">
        <select class="selectpicker" id="classification">
            <option>Excellent</option>
            <option>Good</option>
            <option>Interesting</option>
            <option>Not interesting</option>
        </select>
    </div>
      <div class="form-group">
      <input class="form-control" id="Latitude" placeholder="Latitude" name="Latitude">
    </div>
      <div class="form-group">
      <input class="form-control" id="Longitude" placeholder="Longitude" name="Longitude">
    </div>

      <div class="form-group">
        <label class="btn btn-primary" for="Image">
        <input id="Image" type="file" style="display:none;">
        Image
        </label>
    </div>

    <input type="submit" onclick="save()" id="save-details" class="btn btn-default" style="display: block; margin: 0 auto;">
  </form>
</div>
    <br><br><br><br>
<form id="change_password" method="POST">
{% csrf_token %}
    <div class="form-group">
        <input placeholder="new password" id="password1" style="display: block; margin: 0 auto;" type="password">
        <input placeholder="confirm password" id="password2" style="display: block; margin: 0 auto;" type="password">
    </div>
<input type="submit" onclick="change_password()" class="btn btn-default" style="display: block; margin: 0 auto;" placeholder="change password">
</form>

{% endblock %}

{% block scripts %}
    <script>

        $("#details").submit(function(e){
                e.preventDefault(e);
        });

        function save() {
            var formdata = new FormData();
            var file = document.querySelector('input[id=Image]').files[0];
            formdata.append("image", file);
            formdata.append("title", document.getElementById("Title").value);
            formdata.append("description", document.getElementById("Description").value);
            formdata.append("classification", document.getElementById("classification").value);
            formdata.append("latitude", document.getElementById("Latitude").value);
            formdata.append("longitude", document.getElementById("Longitude").value);
            formdata.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            $.ajax({
                url: {% url 'details:save-details' %},
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.added){
                        $.notify("Saved", "success");
                        $('#details').trigger("reset");
                    }
                    else{
                        $.notify("Not Saved", "error");
                    }
                }
            });
        }

        $("#change_password").submit(function(e){
                e.preventDefault(e);
        });

        change_password = function () {
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            $.ajax({
                type: "POST",
                url: "{% url 'user:change_password' %}",
                data: {
                    'password1': password1,
                    'password2': password2,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (res) {
                    if (res.changed === "OK") {
                        $.notify("password successfully changed!", "success");
                    }
                    else{
                        $.notify("passwords did not match", "error");
                    }
                }
            });
        }


</script>
{% endblock %}
