<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info Windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 4%;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

            function initMap() {

	var broadway = {
		info: '<strong>Chipotle on Broadway</strong><br>\
					5224 N Broadway St<br> Chicago, IL 60640<br>\
					<a href="https://goo.gl/maps/jKNEDz4SyyH2">Get Directions</a>',
		lat: 41.976816,
		long: -87.659916
	};

	var belmont = {
		info: '<strong>Chipotle on Belmont</strong><br>\
					1025 W Belmont Ave<br> Chicago, IL 60657<br>\
					<a href="https://goo.gl/maps/PHfsWTvgKa92">Get Directions</a>',
		lat: 41.939670,
		long: -87.655167
	};

	var sheridan = {
		info: '<strong>Chipotle on Sheridan</strong><br>\r\
					6600 N Sheridan Rd<br> Chicago, IL 60626<br>\
					<a href="https://goo.gl/maps/QGUrqZPsYp92">Get Directions</a>',
		lat: 42.002707,
		long: -87.661236
	};

	var locations = [
      [broadway.info, broadway.lat, broadway.long, 0],
      [belmont.info, belmont.lat, belmont.long, 1],
      [sheridan.info, sheridan.lat, sheridan.long, 2]
    ];

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 3,
		center: new google.maps.LatLng(0, 0),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

	var infowindow = new google.maps.InfoWindow({});

	var marker, i;

	for (i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map
		});

		google.maps.event.addListener(marker, 'click', (function (marker, i) {
			return function () {
				infowindow.setContent(locations[i][0]);
				infowindow.open(map, marker);
			}
		})(marker, i));
	}
}




{#      function initMap() {#}
{#        var uluru = {lat: -25.363, lng: 131.044};#}
{#        var map = new google.maps.Map(document.getElementById('map'), {#}
{#          zoom: 4,#}
{#          center: uluru#}
{#        });#}
{##}
{#        var contentString = '<div id="content">'+#}
{#            '<div id="siteNotice">'+#}
{#            '</div>'+#}
{#            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+#}
{#            '<div id="bodyContent">'+#}
{#            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +#}
{#            'sandstone rock formation in the southern part of the '+#}
{#            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+#}
{#            'south west of the nearest large town, Alice Springs; 450&#160;km '+#}
{#            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+#}
{#            'features of the Uluru - Kata Tjuta National Park. Uluru is '+#}
{#            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+#}
{#            'Aboriginal people of the area. It has many springs, waterholes, '+#}
{#            'rock caves and ancient paintings. Uluru is listed as a World '+#}
{#            'Heritage Site.</p>'+#}
{#            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+#}
{#            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+#}
{#            '(last visited June 22, 2009).</p>'+#}
{#            '</div>'+#}
{#            '</div>';#}
{##}
{#        var infowindow = new google.maps.InfoWindow({#}
{#          content: contentString#}
{#        });#}
{##}
{#        var marker = new google.maps.Marker({#}
{#          position: uluru,#}
{#          map: map,#}
{#          title: 'Uluru (Ayers Rock)'#}
{#        });#}
{#        marker.addListener('click', function() {#}
{#          infowindow.open(map, marker);#}
{#        });#}
{#      }#}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOUj7HtDz2pege1ReSHA1ofQ2v8WPRAMg&callback=initMap">
    </script>
  </body>
</html>