{% extends 'base.html' %}
{% load cloudinary static%}
{% block index %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 4%;
        padding: 0;
      }
    </style>
    <div id="map"></div>
    <script>

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 3,
                    center: new google.maps.LatLng(0, 0),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var marker;
                var infowindow = new google.maps.InfoWindow({});
                var map_objects = JSON.parse("{{map_objs|escapejs}}");
                for (var key in map_objects) {
                    var value = map_objects[key];
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(value.coords[0], value.coords[1]),
                        map: map,
                        label: value.classification
                    });
                    console.log(value.photo);
                    google.maps.event.addListener(marker, 'click', (function (marker, value) {
                        return function () {
                            var contentString = value.title + "<br>" + value.description + "<br>" +
                            value.classification + "<br>" + "<img src=" + value.photo + " height='100' width='80'>";
                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        }
                    })(marker, value));
                }
            }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOUj7HtDz2pege1ReSHA1ofQ2v8WPRAMg&callback=initMap">
    </script>
{% endblock %}
