<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br><br><br><br>
<div class="container">
  <form action="/action_page.php">
    <div class="form-group">
      <input class="form-control" id="Title" placeholder="Title" name="Title">
    </div>
    <div class="form-group">
      <input class="form-control" id="pwd" placeholder="Description" name="Description">
    </div>
    <div class="form-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Classification
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Excellent</a></li>
          <li><a href="#">Good</a></li>
          <li><a href="#">Interesting</a></li>
          <li><a href="#">Not interesting</a></li>
        </ul>
      </div>
    </div>
      <div class="form-group">
      <input class="form-control" id="pwd" placeholder="Latitude" name="Latitude">
    </div>
      <div class="form-group">
      <input class="form-control" id="pwd" placeholder="Longitude" name="Longitude">
    </div>
      <div class="form-group">
      <input class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    </div>                                       
      
    <button class="btn btn-default">Save</button>
  </form>
</div>

</body>
</html>


Title
Description
Classification: Excellent / Good / Interesting / Not interesting
Geographic coordinates (then it shows on map where it is) (extra: getting user location when possible if a button)
Photos upload (several upload possible using if possible drag’n drop, image compression at the same time, adding a branded watermark)
Date (automatically)
Author (automatically)
